// @import partials/reset
// @import bootstrap/bootstrap

.item
  display: flex
  align-items: center
  border-bottom: 1px solid #DDD
  padding: 20px
  &__pic
    width: 100px
    height: 100px
    flex: 0 0 100px
    margin-right: 20px
    overflow: hidden
    border-radius: 100%
    img
      width: 100%
      height: auto
  &__content
    word-wrap: break-word
  &__author
    font-weight: 700
    font-size: 18px
    margin-bottom: 15px
  &__text
    
h1
  text-align: center
  
.animation-enter
  opacity: 0
  transform: perspective(1000px) rotateX(70deg) translateY(-3em)
  background: #FFFBE6

.animation-enter.animation-enter-active
  opacity: 1
  transform: perspective(1000px) rotateX(0deg) translateY(0)
  background: transparent
  transition: opacity .5s ease-out, transform .5s ease-out, background 1s ease