*
  margin: 0
  padding: 0

.bg 
  background: black
  width: 100vw
  height: 100vh
  position: relative
  cursor: pointer

.dot 
  width: 60px 
  height: 60px 
  display: block 
  border-radius: 50%
  transition: all .5s cubic-bezier(0.575, 0.090, 0.690, 0.945)
